.Container {
  height: 70%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #d3d3d3;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background-color: rgba(155, 156, 77, 0.712);
  transition: all 0.5s ease;

  &:hover {
    height: 100%;
    border: none;
    background-color: darken(rgba(155, 156, 77, 0.712), 20%);

    .AnimationContainer {
      height: 30%;
      width: 100%;
      font-size: 1.5em;
    }

    .ImageContainer {
      opacity: 1;
    }

    & + div {
      border: none;
    }
  }
}

.AnimationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 70%;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
  transition: all 0.5s ease;
}

.ImageContainer {
  width: 100%;
  opacity: 0.7;
}

.DateContainer {
  color: #fff;
  opacity: 0.7;
  margin-bottom: 0.5em;
}
